.container{
    color: white;
    align-items: center;
    margin: 10px;
    padding: auto;
}

h1{
    text-align: center;
    padding: 15px;
    text-transform: uppercase;
    color: #dba68f!important;
}

h6{
    padding: 20px;
    text-transform: uppercase;
    text-align: justify;



}

h5{
    text-decoration: underline;
   
}
p{
    text-align: justify;
}